@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --gap: 24px;
  --radius: 15px;
  --shadow: 5px 5px rgba(0, 0, 0, 0.27);

  --light-color: rgba(255, 255, 255, 0.748);
  --main-color: rgb(6, 31, 70);
  --dark-gray: #1e1e1e;
  --theme-color: rgb(34, 34, 34);
  --highlight-color: rgb(106, 46, 150);
  --card-width: 1000px;
  --card-height: calc(var(--card-width) * 918 / 1900);
  scrollbar-width: thin;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
}

/* Usual background, change the URL */
/* html {
  background: url(./images/bread-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
} */

/* Usual header */
header {
  padding: 15px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: var(--dark-gray);
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box-shadow: var(--shadow); */
  z-index: 1;
}

main {
  background-color: rgb(42, 42, 42);
}

/* Usual footer */
footer {
  font-size: 10px;
  text-align: center;
  background-color: var(--dark-gray);
  color: white;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: 12px;
  padding-bottom: 12px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  flex-flow: wrap;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--card-width);
  height: 50px;
  background-color: var(--dark-gray);
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
}

.project-image {
  border-radius: 10px;
  border: none;
  background-color: #1a1a1ae1;
  height: var(--card-height);
  width: var(--card-width);
  box-shadow: var(--shadow);
}

.project-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--card-width);
  height: 200px;
  background-color: var(--dark-gray);
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
  border: inherit;
  object-fit: contain;
  box-sizing: border-box;
}

#Introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: var(--dark-gray);
  padding: 20px;
}

/* ProjectBrowser Component */

.project-browser-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  flex-flow: wrap;
  box-sizing: border-box;
}

.project-navbar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  background-color: #1c1b22;
  /* height: 60px; */
  width: var(--card-width);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 10px;
}

.project-navbar-tab {
  height: 45px;
  background-color: #212028;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  font-size: 0.7rem;
  cursor: pointer;
}

.project-navbar-tab:hover {
  background-color: #35343b;
}

.chosen-project {
  background-color: #42414d;
}

.project-favicon {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  box-sizing: border-box;
}

.project-browser {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  /* background-color: var(--dark-gray); */
  width: var(--card-width);
  /* height: var(--card-height); */
  box-shadow: var(--shadow);
  box-sizing: border-box;
}

.project-browser-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  background-color: #121116;
  height: 50px;
  width: var(--card-width);
  box-shadow: var(--shadow);

  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.project-browser-header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.project-browser-header-button {
  height: 15px;
  width: 15px;
  background-color: #42414d;
  border-radius: 50%;
}

.project-gif {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  box-sizing: inherit;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* Project Info Component */

.project-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: var(--card-width);
  padding: 20px;
  background-color: var(--dark-gray);
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
  margin-top: 20px;
  box-sizing: border-box;
}

.project-info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.project-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: white;
}

.project-info-text {
  font-size: 0.8rem;
  color: rgb(216, 216, 216);
}

@media (max-width: 520px) {
  :root {
    --card-width: 500px;
    font-size: 0.7rem;
  }

  .project-navbar {
    padding: 5px;
    gap: 5px;
  }

  .project-navbar-tab {
    height: 30px;
    font-size: 0.5rem;
    padding: 5px;
  }

  .project-favicon {
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 350px) {
  :root {
    --card-width: 350px;
    font-size: 0.7rem;
  }

  .project-navbar {
    padding: 2px;
    gap: 5px;
  }

  .project-navbar-tab {
    height: 20px;
    font-size: 0.4rem;
    padding: 2px;
  }

  .project-favicon {
    height: 10px;
    width: 10px;
    margin-right: 2px;
  }
}
