@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --shadow: 5px 5px 5px rgba(0, 0, 0, 0.456);
  --dark-gray: #1e1e1e;
  --darker-gray: #141414;
  --theme-color: rgb(34, 34, 34);
  --max-width: 1400px;
  --screen-margin: 200px;
  scrollbar-width: thin;
  color: white;
  font-size: 0.9rem;
  box-sizing: border-box;
}

html,
body,
#App {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
}
main {
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 50px; */
}

header,
footer {
  height: 30px;
  width: 100%;
  padding: 20px var(--screen-margin) 20px var(--screen-margin);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--darker-gray);
}

.main-with-max-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  gap: 30px;
  text-align: center;
}

/* Introduction Component */

#Introduction {
  margin-left: var(--screen-margin);
  margin-right: var(--screen-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 500px;
  background-color: var(--darker-gray);
  padding: 20px;
  box-sizing: border-box;
}

/* Github component */

#Github {
  margin-left: var(--screen-margin);
  margin-right: var(--screen-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 400px;
  background-color: var(--dark-gray);
  padding: 20px;
  box-sizing: border-box;
}

.github-calendar {
  max-width: var(--max-width);
  height: auto;
}

/* ProjectBrowser Component */

#ProjectBrowser {
  margin-left: var(--screen-margin);
  margin-right: var(--screen-margin);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: var(--max-width);
}

.project-gif-img {
  width: 100%;
  height: auto;
  border-radius: inherit;
  border: inherit;
  object-fit: contain;
  box-sizing: border-box;
  box-shadow: var(--shadow);
}

.project-browser-instructions {
  margin-bottom: 30px;
  text-align: center;
}

.project-browser-instruction {
  margin-bottom: 20px;
}

.project-navbar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  background-color: #1c1b22;
  /* height: 60px; */
  width: 100%;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
}

.project-navbar-tab {
  height: 45px;
  background-color: #212028;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border-radius: 5px; */
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  /* font-size: 0.7rem; */
  cursor: pointer;
}

.project-navbar-tab:hover {
  background-color: #35343b;
}

.project-navbar-tab:active {
  background-color: #6a6970;
}

.chosen-project {
  background-color: #42414d;
}

.project-favicon {
  max-height: 20px;
  max-width: 20px;
  margin-right: 6px;
  box-sizing: border-box;
}

.project-browser-top {
  background-color: #42414d;
  height: 3px;
  width: 100%;
  border: none;
  box-shadow: var(--shadow);
}

.project-browser-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  gap: 20px;
  background-color: #121116;
  width: 100%;
  box-shadow: var(--shadow);

  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.project-browser-header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.project-browser-header-button {
  height: 15px;
  width: 15px;
  background-color: #42414d;
  border-radius: 50%;
}

.project-gif {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  box-sizing: inherit;
  object-fit: contain;
  width: 100%;
}

/* Project Info Component */

.project-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 20px;
  background-color: #1c1b22;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
  margin-top: 20px;
  box-sizing: border-box;
}

.project-info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px rgb(98, 98, 98) solid;
  /* border-style: ; */
}

.project-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

.project-info-text {
  color: rgb(216, 216, 216);
}

.project-description-text {
  margin-bottom: 10px;
}

.project-info-text-heading {
  font-weight: bold;
  color: rgb(216, 216, 216);
  padding-bottom: 10px;
  border-bottom: 2px rgb(98, 98, 98) dashed;
  margin-bottom: 20px;
  /* font-size: 1.1rem; */
}

.project-stack-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.paragraph-space {
  height: 10px;
}

/* Rounded Square component */

.rounded-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  height: 100px;
  width: 140px;
  padding: 20px;
  background-color: #212028;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  /* min-width: 105px; */
}

.rounded-square-icon-container {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-square-icon {
  max-height: 100%;
  max-width: 100%;
}

.rounded-square-text {
  font-weight: bold;
  text-align: center;
}

/* WhatILearned component */

.project-info-lessons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ContactMe component */

#ContactMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-gray);
  padding: 50px var(--screen-margin) 50px var(--screen-margin);
  box-sizing: border-box;
}

#HireMeButton {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: green;
  border: none;
  border-radius: 10px;
}

#HireMeButton:hover {
  background-color: lightgreen;
}

#HireMeButton:active {
  background-color: green;
}

/* Media Queries */

@media (max-width: 1500px) {
  :root {
    --screen-margin: 100px;
    font-size: 0.7rem;
  }
}

@media (max-width: 1200px) {
  :root {
    --screen-margin: 50px;
    font-size: 0.7rem;
  }
}

@media (max-width: 700px) {
  :root {
    --screen-margin: 30px;
    font-size: 0.6rem;
  }

  .project-favicon {
    height: 8px;
    width: 8px;
    margin-right: 3px;
  }

  .project-navbar {
    padding: 5px;
    padding-bottom: 0px;
    gap: 5px;
  }

  .project-navbar-tab {
    height: 30px;
    padding: 2px;
  }

  .project-browser-header {
    gap: 10px;
  }

  .project-browser-header-button {
    height: 9px;
    width: 9px;
  }

  .github-calendar {
    width: 300px;
  }
}

@media (max-width: 520px) {
  :root {
    --screen-margin: 20px;
    font-size: 0.5rem;
  }

  .project-favicon {
    display: none;
  }

  .project-navbar-tab {
    justify-content: center;
  }

  .rounded-square {
    height: 60px;
    width: 90px;
  }
  .rounded-square-icon-container {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 350px) {
  :root {
    --screen-margin: 10px;
    font-size: 0.4rem;
  }
}
